bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea/

# Datenbank
*.db
*.db-shm
*.db-wal

# Azurite
__blobstorage__/
__queuestorage__/
__azurite_db_*.json
AzuriteConfig

# Secrets
appsettings.json
appsettings.Development.json
